/* HERO */

.main-hero {
  background-image: url(../assets/Images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  text-align: center;
  background-position: 50%;
  margin-bottom: 96px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.main-hero h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 1px 1px 2px #000;
  margin: 32px 0px;
}

.main-hero button {
  margin-bottom: 100px;
  background-color: #fff;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  height: 55px;
  text-align: center;
  width: 10rem;
}

.main-hero button h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

/* GALLERIES */

.gallery-title {
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 48px;
}

.home-page-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 95px;

  img {
    margin: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  h3 {
    font-weight: 700;
    margin: 19px 0px;
  }
}

/* HOST */

.home-page .host-container {
  background-image: url(../../assets/Images/become-host.jpg);
  background-position: 50%;
  background-size: cover;
  height: 90vh;

  .host-cta {
    color: $clr5;
    font-size: 48px;
    font-weight: 700;
    margin: 50px 0px 0px 80px;

    button {
      margin-top: 50px;
      justify-self: flex-end;
      font-family: inherit;
      border: none;
      color: $clr3;
      background-color: $clr5;
      padding: 14px 24px;
      border-radius: 8px;
      max-width: 170px;
    }
  }
}
