.main-hero {
   background-image: url(../assets/Images/hero.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 750px;
   text-align: center;
   background-position: 50%;
   margin-bottom: 96px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
 }
 
 .main-hero h1 {
   color: #ffffff;
   font-size: 32px;
   font-weight: 700;
   text-shadow: 1px 1px 2px #000;
   margin: 32px 0px;
 }

 .main-hero button {
  margin-bottom: 100px;
  background-color: #fff;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  height: 55px;
  text-align: center;
  width: 10rem;
 }

 .main-hero button h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
 }
 
 .home-cities {
   display: grid;
   border-radius: 10px;
   grid-template-columns: repeat(auto-fill, minmax(326px, 1fr));
   gap: 25px;
 }
 
 img {
   margin: 0;
   height: 200px;
   border-radius: 10px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(326px, 1fr));
 }
 
 .top-rated {
   display: grid;
   border-radius: 10px;
   grid-template-columns: repeat(auto-fill, minmax(326px, 1fr));
   gap: 25px;
 }