.order-details {
    margin-top: 80px;

    .order-details-container {
        min-height: 80vh;
        width: 100%;
        border-radius: 10px;

        .order-date-guest {
            width: 20vw;
        }
        .order-title {
            margin-bottom: 40px;
        }
        h1 {
            padding: 10px;
            font-size: 25px;
            margin: 0;
        }

        button {
            padding: 0 22.5px;
            border-radius: 50px;
            border: none;
        }
        .dates-order {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            margin-top: 60px;
            div {
                h3 {
                    margin-top: -20px;
                    margin-bottom: -10px;
                }
                span {
                    margin-left: 10px;
                }
            }
        }
        .guests-order {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            div {
                h3 {
                    margin-top: -20px;
                    margin-bottom: -10px;
                }
                span {
                    margin-left: 10px;
                }
            }
        }
        .btn-edit {
            margin-right: 10px;
            width: 60px;
            height: 25px;
            font-size: 15px;
            font-weight: bold;
            text-decoration: underline;
        }
        h2 {
            padding: 10px;
        }
        h3 {
            padding: 10px;
        }
        pre {
            font-size: 15px;
            width: 200px;
            margin-top: -20px;
        }
    }

    .total-price-order {
        width: 30vw;
        height: 40vh;
        padding: 40px;
        margin-top: 80px;
        border: 1px solid #b4b4b4;
        border-radius: 30px;

        .order-img-rate {
            margin-bottom: 20px;
        }
        .order-rate {
            margin-left: 20px;
            .stay-name {
                font-family: Cereal-Medium;
            }
        }

        img {
            max-height: 200px;
            max-width: 200px;
            border-radius: 10px;
            object-fit: cover;
        }

        .msg-charged {
            font-size: 14px;
            text-align: center;
        }
        .type-pay {
            text-decoration: underline;
            font-size: 17px;
        }
        .type-price {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }
        .pay-total {
            font-weight: bold;
        }
        .price-total {
            font-weight: bold;
        }
    }
}
