.order-details {
    margin-top: 100px;
    margin-left: 60px;
    .order-details-container {
        min-height: 600px;
        width: 500px;
        border-radius: 10px;
        border: 1px rgb(195, 185, 185) solid;
        h1 {
            padding: 10px;
            font-size: 25px;
        }
        .dates-order {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            margin-top: 20px;
            div {
                h3 {
                    margin-top: -20px;
                    margin-bottom: -10px;
                }
                span {
                    margin-left: 10px;
                }
            }
        }
        .guests-order {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            div {
                h3 {
                    margin-top: -20px;
                    margin-bottom: -10px;
                }
                span {
                    margin-left: 10px;
                }
            }
        }
        .btn-edit {
            margin-right: 10px;
            width: 60px;
            height: 25px;
            font-size: 15px;
            font-weight: bold;
            text-decoration: underline;
        }
        h2 {
            padding: 10px;
        }
        h3 {
            padding: 10px;
        }
        pre {
            font-size: 15px;
            width: 200px;
            margin-top: -20px;
        }
    }
}