        .stay-details {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            .titles-details {
                h1 {
                    font-size: 26px;
                    font-family: inherit;
                    margin-bottom: 10px;
                }
                div {
                    margin-bottom: 20px;
                }
                span {
                    text-decoration: underline;
                }
            }
            .gallery-details {
                display: grid;
                grid-template-columns: repeat(4, 280px);
                grid-template-rows: repeat(2, 192px);
                gap: 8px;
                .center-img {
                    grid-column: 1/3;
                    grid-row: 1/3;
                    height: 100%;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                .side-img1 {
                    grid-column: 3/4;
                    grid-row: 1/2;
                    height: 100%;
                }
                .side-img2 {
                    height: 100%;
                    grid-column: 4/5;
                    grid-row: 1/2;
                    border-top-right-radius: 10px;
                    object-fit: cover;
                }
                .side-img3 {
                    height: 100%;
                    grid-column: 3/4;
                    grid-row: 2/3;
                }
                .side-img4 {
                    height: 100%;
                    grid-column: 4/5;
                    grid-row: 2/3;
                    border-bottom-right-radius: 10px;
                }
            }
            .a {
                display: flex;
            }
            section.host-details {
                display: inline-block;
            }
            .host-details {
                margin-top: 40px;
                display: inline-block;
                .host-title {
                    display: inline-block;
                    color: inherit !important;
                    font-size: 1em !important;
                    font-weight: inherit !important;
                    line-height: inherit !important;
                    margin: 0px !important;
                    padding: 0px !important;
                }
                span {
                    font-size: 16px;
                }
                h2 {
                    margin-bottom: 10px;
                    font-size: 1.4em;
                }
                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    margin-left: 120px;
                    border: 1px rgb(172, 168, 168) solid;
                }
            }
            hr {
                margin-top: 30px;
                margin-bottom: 30px;
                width: 50%;
                opacity: 50%;
            }
            .info-check {
                h4 {
                    color: rgb(34, 34, 34) !important;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
                    font-weight: 600 !important;
                    font-size: 16px !important;
                    line-height: 20px !important;
                    margin-bottom: 4px !important;
                }
                p {
                    color: rgb(113, 113, 113) !important;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
                    font-weight: 400 !important;
                    font-size: 14px !important;
                    line-height: 20px !important;
                    margin-bottom: 20px;
                }
                div {
                    margin-left: 30px;
                }
                section {
                    display: flex;
                }
                img {
                    width: 25px;
                    height: 25px;
                }
            }
            .stay-disc {
                max-width: 600px;
                h3 {
                    font-weight: bold;
                    font-size: 20px;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    overflow: hidden;
                }
            }
            .title-amenities {
                font-size: 22px;
                color: rgb(56, 52, 52);
            }
            .amenities-details {
                .amenities-side {
                    display: inline-block;
                    margin-right: 80px;
                    margin-bottom: 30px;
                }
                .amenities-details-left {
                    img {
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        margin-right: 10px;
                    }
                    span {
                        font-size: 16px;
                    }
                }
                .amenities-details-right {
                    img {
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        margin-right: 10px;
                    }
                    span {
                        font-size: 16px;
                    }
                }
            }
            .long-hr {
                width: 100%;
            }
            .title-reviews {
                display: inline-block;
                h3 {
                    font-size: 20px;
                }
                .rating-reviews {
                    margin-left: 6px;
                    margin-right: 5px;
                }
            }
            pre {
                display: flex;
                flex-direction: column;
            }
            .list-reviews {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                margin-top: 40px;
                .img-user-review {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 10px;
                    border: 1px rgb(172, 168, 168) solid;
                }
                div {
                    display: inline-block;
                }
                .date-review {
                    margin-bottom: 15px;
                    margin-top: -13px;
                    font-size: 14px;
                    color: rgb(113, 113, 113) !important;
                }
                .content-review {
                    max-width: 450px;
                    margin-bottom: 20px;
                    font-size: 16px;
                }
            }
            .btn-show-more {
                font-weight: bolder;
                font-size: 15px;
                border-radius: 10px;
                border-width: 1px;
                border-style: solid;
                padding: 14px 24px;
                background-color: white;
            }
        }