.app-footer {
   padding: 1.2rem 1.2rem 1.2rem 0;
   font-family: 'Cereal-Regular', sans-serif;
   align-items: center;
   background-color: #f8f8f8;
   color: #464646;
   width: 100%;
 }
 
.app-footer span {
  margin-right: 5px;
}

.footer-info {
  font-family: 'Cereal-Bold', sans-serif;
  width: 500px;
  margin: 0;
}

.footer-lang {
  margin-right: 100px;
}