.order-info {
   display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #e7e6e6;
    
    button {
       border: none;
       margin: 2px;
       background-color: #dad8d8;
       padding: 5px;
       border-radius: 14px;
       &:hover {
         background-color: #e4e2e2; 
      }
    }
}

.pending {
   background-color: #f0efef;
}
