@font-face {
    font-family: Circular, -apple-system, BlinkMacSystemFont, sans-serif;
    src: url(~@/assets/fonts/Circular/CircularStd-Book.ttf);
}

@font-face {
    font-family: Circular-Bold, -apple-system, BlinkMacSystemFont, sans-serif;
    src: url(~@/assets/fonts/Circular/CircularStd-Bold.ttf);
}

@font-face {
    font-family: Circular-Light, -apple-system, BlinkMacSystemFont, sans-serif;
    src: url(~@/assets/fonts/Circular/CircularStd-Light.ttf);
}